.weather-app-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 135, 217);
  padding: 10px;
  position: relative;
}
.weather-app-card{
  background-image: linear-gradient(#7b06b8,#54047d);
  
  padding: 30px;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  @media (orientation:portrait) and (max-width:572px) {
    padding: 20px;
    width: 350px;
  }
}
.light-color{
  color: #ffffff;
}
  
.search-bar{
  border: solid 2px #8c8d8f;
  height: 40px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  @media (orientation:portrait) {
    width: 300px;
  }
}
.search-input{
  border: none;
  height: 28px;
  width: 250px;
  margin-left: 10px;
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
  background-color: transparent;
  @media (orientation:portrait) {
    width: 200px;
  }
}
.search-input::placeholder{
  padding-left: 10px;
  color: #ffffff;
}
.icons{
  font-size: 30px;
}
.search-icon{
  background-color: transparent;
  border: 2px solid #c1bbc4;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.weather-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-image-container{
  background-color: #b6c60c;
  margin-top: 10px;
  border-radius: 20px;
  
}
.weather-image{
  height: 200px;
  
}
.temprature{
  font-size: 80px;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.location{
  font-size: 40px;
  margin: 0;
  margin-top: 10px;
}
.humidity{
 font-size: 25px;
}
.wind-humidity-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  margin-top: 30px;
}

.notFound-container{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-image{
  height: 300px;
}